#hero-view {
    margin-top: 80px;
    width: 100%;
    height: auto;
}
#hero-view .container {
    background-color: var(--third-color);
    border: 1px solid var(--secondary-color);
    height: 300px;

    display: flex;
    align-items: center;

    background-image: url(../Img/hero-view.png);
    background-size: cover;
}
#hero-view .container .content {padding-left: 100px;}
#hero-view .container .content h3 {margin: 10px 0 20px 0;}
#hero-view .container a.sp-btn {background-color: transparent;}
#hero-view .container a.sp-btn:hover {background-color: var(--secondary-color);}

@media (max-width: 700px) {
    #hero-view .container .content {padding-left: 30px;} 
}

/* ============== */
#why-us {margin-top: 50px;}
#why-us .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
#why-us .container .reason {
    width: 21%;
    background-color: var(--third-color);
    border: 2px solid var(--secondary-color);
    padding: 15px 20px;

}
@media (max-width: 700px) {
    #why-us .container .reason {
        width: 100%;
        
        display: flex;
        align-items: center;
    }
    #why-us .container .reason h3 {
        margin-left: 30px;
    }
}

/* ============ */
#shop  {margin-top: 100px;}
#shop .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    // column-gap: 50px;
}
#shop .container .go-categories,
#shop .container .go-products {
    width: 47%;
    border: 2px solid var(--secondary-color);
    padding: 70px 20px;

    background-repeat: no-repeat;
    background-size: cover;
}
#shop .container .go-categories button,
#shop .container .go-products button {background: transparent;}
#shop .container .go-categories h2,
#shop .container .go-products h2 {
    margin-bottom: 30px;
}
#shop .container .go-categories {
    background-image: url(../Img/home_category.png);
}
#shop .container .go-products {
    background-image: url(../Img/home_product.png);
    
}
@media (max-width: 700px) {
    #shop .container .go-categories,
    #shop .container .go-products {
        width: 100%;
    }
}

#shop .container .go-categories {
    background-image: url(../Img/home_category.png);
}
#shop .container .go-products {
    background-image: url(../Img/home_product.png);
}